@font-face {
  font-family: neon;
  src: url("assets/fonts/Neon.ttf");
}
@font-face {
  font-family: neon-future;
  src: url("assets/fonts/Neon Future.ttf");
}
* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Quicksand";
  transform-style: preserve-3d;
  perspective-origin: center;
  perspective: 10000px;
}

body {
  overflow: hidden;
  background-color: #18093b;
}
body .game-screen {
  position: relative;
  border: 2px solid black;
  height: 100vh;
  margin: auto;
  transition: all 1s ease 0s;
}
body .game-screen__title {
  color: white;
  font-size: 120px;
  font-weight: 500;
  text-align: center;
  font-family: neon-future;
  margin-top: 40px;
}
body .game-screen__button {
  font-size: 30px;
  display: block;
  margin: 40px auto;
}
body .game-screen__text {
  color: white;
  font-size: 30px;
  text-align: center;
}
body .game-screen__score {
  position: absolute;
  color: white;
  font-size: 40px;
  padding: 10px;
}
body .game-screen__side {
  height: 100%;
  position: relative;
  display: inline-block;
  border: 1px solid black;
}
body .game-screen__side .game-screen__player {
  position: absolute;
  bottom: 0;
  left: 0;
}
body .game-screen__side .game-screen__player > * {
  background-color: limegreen;
  border: 2px solid black;
}
body .game-screen__side .game-screen__drop {
  position: absolute;
  top: 0;
  left: 0;
}
body .game-screen__side .game-screen__drop > * {
  background-color: red;
  border: 2px solid black;
}