* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
    
}
  
body{
    margin: 10vh 10vw;
    
  
    .game-screen {  
        position: relative;
        background-color: deepskyblue;
        border: 2px solid black;
        height: 80vh;
        width: 80vw;

        .game-screen__side{
            height: 100%;
            width: calc(50% - 2px);
            position: relative;
            display: inline-block;
            border: 1px solid white;
            
            .game-screen__player {
                background-color: black;
                height: 10vh;
                width: 10vw;
                margin: 5vw;
                position: absolute;
                bottom: 0;
                left: 0;
                transition: all 1s ease;
            }
            
            .game-screen__drop {
                background-color: black;
                height: 10vh;
                width: 10vw;
                margin: 5vw;
                position: absolute;
                top: 0;
                left: 0;
                // transition: all 1s ease;
            }
        }

    }
} 
  