@font-face {
    font-family: neon;
    src: url('assets/fonts/Neon.ttf');
}

@font-face {
    font-family: neon-future;
    src: url('assets/fonts/Neon\ Future.ttf');
}


$heading-size: 120px;


* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Quicksand';
    
}
  
body{

    .game-screen {  
        position: relative;
        background-color: #18093b;
        border: 2px solid black;
        height: 100vh;

        &__title {
            color: white;
            font-size: $heading-size;
            font-weight: 500;
            text-align: center;
            font-family: neon-future;
            margin-top: 40px;
        }

        &__button {
            font-size: 30px;
            display: block;
            margin: 40px auto;
        }

        &__text {
            color: white;
            font-size: 30px;
            text-align: center;
        }

        &__score{
            position: absolute;
            color: white;
            font-size: 40px;
            padding: 10px;
            

        }

        &__side{
            height: 100%;
            position: relative;
            display: inline-block;
            border: 1px solid white;
            overflow: hidden;
            
            .game-screen__player {
                background-color:white;
                height: 10%;
                width: 20%;
                margin: 20%;
                position: absolute;
                bottom: 0;
                left: 0;
            }
            
            .game-screen__drop {
                background-color: rgb(255, 51, 0);
                height: 10%;
                width: 20%;
                margin: 20%;
                margin-top: -5%;
                position: absolute;
                top: 0;
                left: 0;
            }
        }

    }
} 
  