@font-face {
  font-family: neon;
  src: url("assets/fonts/Neon.ttf");
}
@font-face {
  font-family: neon-future;
  src: url("assets/fonts/Neon Future.ttf");
}
* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Quicksand";
  transform-style: preserve-3d;
  perspective-origin: center;
  perspective: 10000px;
}

html {
  max-width: 100vw;
  overflow: hidden;
}
html body {
  background-color: #18093b;
}
html body .game-screen {
  position: relative;
  margin: auto;
  transition: all 1s ease 0s;
}
html body .game-screen__title {
  color: white;
  font-size: 120px;
  font-weight: 500;
  text-align: center;
  font-family: neon-future;
  margin-top: 40px;
}
html body .game-screen__button {
  font-size: 30px;
  display: block;
  margin: 40px auto;
}
html body .game-screen__text {
  color: white;
  font-size: 30px;
  text-align: center;
  margin: 20px;
}
html body .game-screen__score {
  position: absolute;
  color: white;
  font-size: 30px;
  padding: 10px;
}
html body .game-screen__side {
  height: 100%;
  position: relative;
  display: inline-block;
  border: 1px solid white;
}
html body .game-screen__side .game-screen__player {
  bottom: 0;
  left: 0;
}
html body .game-screen__side .game-screen__player > * {
  background-color: limegreen;
  border: 2px solid black;
}
html body .game-screen__side .game-screen__player .game-screen__explosion * {
  background: #ffe000;
  background: radial-gradient(circle, #ffe000 20%, #e4b936 31%, #ff5200 52%, #ff004a 86%);
  border: 3px solid white;
}
html body .game-screen__side .game-screen__drop {
  top: 0;
  left: 0;
}
html body .game-screen__side .game-screen__drop > * {
  background-color: red;
  border: 2px solid black;
}

@media screen and (max-width: 960px) {
  body .game-screen__title {
    font-size: 50px;
    margin-top: 40px;
  }
  body .game-screen__button {
    font-size: 20px;
    margin: 40px auto;
  }
  body .game-screen__text {
    font-size: 20px;
    margin: 20px;
  }
  body .game-screen__score {
    font-size: 20px;
    padding: 10px;
  }
}
@media screen and (max-width: 480px) {
  html body .game-screen__title {
    font-size: 40px;
    margin-top: 40px;
  }
  html body .game-screen__button {
    font-size: 15px;
    margin: 40px auto;
  }
  html body .game-screen__text {
    font-size: 15px;
    margin: 20px;
  }
  html body .game-screen__score {
    font-size: 15px;
    padding: 10px;
  }
}